#boton-extremo {
	color: black;
	padding: 50px;
	border: solid 5px;
	background-color: red;
	font-family: cursive;
}
.oculto {
	display: none;
}
#imagen {
	width: 250px;
}
#texto {
	color: red;
	font-size: medium;
	font-style: italic;
}
